@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap");

/* font-family: 'Noto Sans KR', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: rgb(85, 85, 85);
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(105, 105, 105);
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Header */

header {
  width: 100%;
  height: 123px;
  background-color: #f5f6ef;
  border-top: 2px solid black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

/* Nav-bar Styles */

nav {
  width: 1100px;
  height: 123px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo figure {
  width: 75px;
  height: 75px;
  background: url(img/logo.png) center;
  background-size: 75px 75px;
}

/* Sub Nav-bar */

.gnb-menu__sub {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  margin-right: 15px;
  font-size: 13px;
  color: rgb(85, 85, 85);
  align-items: center;
}

.gnb-menu__sub a {
  padding: 0 20px;
}

.gnb-menu__sub li img {
  width: 16px;
}

.gnb-menu__sub li {
  border-right: 1px solid lightgray;
  line-height: 10px;
}

.gnb-menu__sub li:last-child {
  border-right: 0px;
}

/* Main Nav-bar */

.gnb-menu__main {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  font-size: 13px;
  color: rgb(85, 85, 85);
}

.gnb-menu__main a {
  padding: 0 25px;
}

.gnb-menu__main li {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 400;
}

.gnb-menu__main li:hover {
  background-color: rgb(44, 42, 41);
}

.gnb-menu__main li:hover a {
  color: rgb(102, 153, 10);
}

/* Naver 배너 */

.naver-order {
  position: fixed;
  z-index: 2;
  width: 141px;
  height: 204px;
  top: 140px;
  left: calc(50% + 600px);
}

/* Inside Nav-bar */

.lnb {
  width: 100%;
  height: 200px;
  background-color: rgb(44, 42, 41);
}

/* Section Hero 스타일 */

.hero {
  width: 100%;
  height: 646px;
  margin-top: 125px;
  background: url(img/2020_autumn1_bg.jpg);
}

.hero-wrap {
  width: 1100px;
  height: 616px;
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
}

.hero-btn {
  display: inline-block;
  margin-top: 35px;
  border: 2px solid white;
  padding: 10px 25px;
  border-radius: 3px;
}

.hero-btn:hover {
  background-color: rgb(229, 184, 149);
  transition: 0.3s ease-in;
}

.hero-btn a {
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.hero-btn:hover a {
  color: black;
}

/* hero-event1 style */

.hero-event1__text {
  color: #e6dbc4;
  position: absolute;
  bottom: 100px;
  left: 40px;
  text-align: center;
}

.hero-event1__text h3 {
  font-size: 20px;
}

.hero-event1__img {
  position: absolute;
  left: 198px;
  width: 358px;
  bottom: -13px;
}

.hero-event1__img img {
  width: 358px;
}

.hero-event2__text {
  color: #e6dbc4;
  position: absolute;
  bottom: 406px;
  left: 488px;
  text-align: center;
}

.hero-event2__text h3 {
  font-size: 20px;
}

.hero-event2__img {
  position: absolute;
  left: 423px;
  width: 379px;
  bottom: 45px;
}

.hero-event2__img img {
  width: 379px;
}

.hero-event3__text {
  color: #e6dbc4;
  position: absolute;
  top: 135px;
  left: 723px;
  text-align: center;
}

.hero-event3__text h3 {
  font-size: 20px;
}

.hero-event3__img {
  position: absolute;
  left: 704px;
  width: 328px;
  bottom: 6px;
}

.hero-event3__img img {
  width: 328px;
}

.hero-event4__text {
  color: #e6dbc4;
  position: absolute;
  bottom: 50px;
  left: 880px;
  text-align: center;
}

.hero-event4__text h3 {
  font-size: 20px;
}

.hero-event4__img {
  position: absolute;
  left: 891px;
  width: 304px;
  bottom: 40px;
}

.hero-event4__img img {
  width: 304px;
}

/* Info-bar Style */

.info-bar {
  width: 100%;
}

.info-bar__header {
  display: flex;
  width: 100%;
  height: 60px;
}

.info-bar__notice {
  width: 55%;
  box-sizing: border-box;
  display: flex;
  background-color: rgb(17, 17, 17);
  align-items: center;
  padding-left: calc(50% - 550px);
}

.info-bar__notice span {
  font-size: 18px;
  color: white;
  margin-right: 20px;
}

.info-bar__notice p {
  font-size: 13px;
  color: white;
}

.info-bar__notice img {
  width: 27px;
  margin-left: 270px;
  margin-right: 10px;
}

.info-bar__promotion {
  width: 45%;
  background-color: rgb(246, 245, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: calc(50% - 550px); */
}

.info-bar__promotion span {
  font-size: 18px;
  font-weight: 600;
  margin-right: 40px;
}

.info-bar__promotion img {
  width: 27px;
}

/* Info-bar rewards styles */

.info-bar__rewards img {
  width: 175px;
  margin-top: 20px;
  margin-right: 30px;
}

.info-bar__rewards-wrap {
  width: 100%;
  background: #1e3932;
  padding: 30px 0;
}

.info-bar__rewards {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  padding-left: 200px;
  color: rgb(255, 255, 255);
}

.info-bar__rewards-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(246, 245, 239, 0.5);
  margin-top: 10px;
  padding-bottom: 10px;
}

.info-bar__rewards-top h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.info-bar__rewards-top h3 {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.info-bar__rewards-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.info-bar__rewards-bottom p {
  font-size: 13px;
}

/* Rewards button styles */

.link-button {
  margin-left: 30px;
}

.link-button:hover {
  text-decoration: underline;
}

.rewards-button__join {
  width: 90px;
  height: 38px;
  background: rgb(0, 112, 74);
  border: none;
  border-radius: 4px;
  color: white;
}

.rewards-button__login {
  width: 98px;
  height: 38px;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 10px;
}

.rewards-button__egift {
  width: 200px;
  height: 38px;
  border: 1px solid white;
  border-radius: 4px;
}

/* new-menu styles */

.new-menu__one {
  background: url(img/20_autumn1_bg.jpg);
  width: 100%;
  height: 573px;
}

.new-menu__one-wrap {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.new-menu__one-wrap figure {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.new-menu__one-wrap figure img {
  width: 210px;
}

.new-menu__one-wrap text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.new-menu__one-text {
  width: 50%;
  height: 573px;
}

.new-menu__one-text h2 {
  font-size: 36px;
  color: rgb(0, 112, 74);
}

.new-menu__one-text div:first-child {
  margin-top: 150px;
  font-size: 20px;
  color: rgb(14, 62, 33);
}

.new-menu__one-text p {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

.link-button__menu {
  width: 125px;
  height: 38px;
  border: 2px solid rgb(17, 17, 17);
  border-radius: 4px;
  color: rgb(17, 17, 17);
}

.link-button__menu:hover {
  transition: 0.3s ease-in;
  background-color: black;
  color: white;
  cursor: pointer;
}
